
# Chroma_docs
hashira/chroma_docs/index/*.bin
hashira/chroma_docs/*.parquet
# Byte-compiled / optimized / DLL files
__pycache__/

# Poetry
poetry.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
APIS.env
hashira.APIS.env